@import "tailwindcss";

@theme {
  --color-black: #000000;
  --color-primary: #55c8fa;
  --color-secondary: #F9A190;
  --color-background: #121212;
  --color-hover: #181818;
  --color-primary-text: #EAEAEA;
  --color-secondary-text: #B3B3B3;
  --color-third-text: #55c8fa;
}